.control {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.control__radio-label {
  color: #222222;
}

.control__checkbox-label {
  color: #000000;
}

.control__input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
