.form-group__title {
  font-size: 24px;
  line-height: 26px;
}

.form__required-note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form__main-params {
  display: flex;
  flex-direction: column;

  border: none;
  padding: 0;

  position: relative;
}

.form__program-type {
  display: flex;
  flex-direction: column;

  padding: 0;

  border: 1px solid;

  width: @phone-width - 2 * 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width - 2*30px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
