.instruction-list {
  counter-reset: instruction-number;

  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 59px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 75px;
    padding-left: 10px;
  }
}

.instruction-list__item {
  position: relative;
  min-height: 60px;

  @media (min-width: @tablet-width) {
    min-width: 250px;

    &::after {
      counter-increment: instruction-number;
      content: counter(instruction-number);

      position: absolute;
      right: 78px;
      top: 0;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      right: 2px;
    }
  }
}

.instruction-list__item--healthy {
  @media (min-width: @tablet-width) {
    &::after {
      right: 100px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      right: 25px;
    }
  }
}

.instruction-list__item-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68b738;

  &::before {
    content: "";
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.instruction-list__item--healthy .instruction-list__item-icon::before {
  width: 30px;
  height: 32px;
  background-size: 30px auto;
  background-image: url("../../img/healthy.svg");
}

.instruction-list__item--simple-cook .instruction-list__item-icon::before {
  width: 29px;
  height: 31px;
  background-size: 29px auto;
  background-image: url("../../img/simple-cook.svg");
}

.instruction-list__item--replace-eat .instruction-list__item-icon::before {
  width: 25px;
  height: 30px;
  background-size: 25px auto;
  background-image: url("../../img/replace-eat.svg");
}

.instruction-list__item--fast-effect .instruction-list__item-icon::before {
  width: 32px;
  height: 33px;
  background-size: 32px auto;
  background-image: url("../../img/fast-effect.svg");
}

.instruction-list__item-desctiption {
  position: relative;
  margin: 0;
  padding-top: 2px;
  padding-left: 80px;
  z-index: 1;

  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: #444444;

  @media (min-width: @tablet-width) {
    padding: 151px 63px 57px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}
