.main-footer__contacts {
  position: relative;
}

.main-footer__contacts-address-container {
  width: @phone-width - 2*20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width - 2*30px;
  }

  @media (min-width: @desktop-width) {
    width: 565px;
    min-height: 198px;

    position: absolute;
    top: 95px;
    left: 110px;

    background-color: @white;
  }
}

.main-footer__nav-container {
  width: @phone-width - 2*20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: @tablet-width - 2*30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width - 2*110px;
  }
}

.main-footer__nav {
  background-color: #f2f2f2;
}
