.main-header {
  position: relative;
}

.main-header--cat {
  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      background: linear-gradient(@transparent-green, @transparent-green),
        url("../../img/header-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: 720px auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 50%;
      min-height: 694px;
    }

    @media (min-resolution: 2dppx) {
      &::after {
        background: linear-gradient(@transparent-green, @transparent-green),
          url("../../img/header-background-desktop-2x.jpg");
        background-repeat: no-repeat;
        background-size: 720px auto;
      }
    }
  }

  & .nav-list__link {
    @media (min-width: @desktop-width) {
      color: @white;
    }
  }

  & .nav-list__item--active {
    @media (min-width: @desktop-width) {
      &::after {
        background-color: @white;
      }
    }
  }
}

.main-header__container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-header__container-header {
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 16px;

  @media (max-width: @phone-width-only) {
    width: @container-phone-width;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    padding-bottom: 111px;
  }
}

.main-header__logo {
  width: 191px;
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image {
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}
