.main-content {
  min-height: 100%;

  background-color: #ffffff;
}

.main-content__header {
  background: rgba(104, 183, 56, 0.85);
  background-image: url("../../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 437px;
}

.main-content__header-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.main-content__header-slogan {
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}


.main-content__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.main_content__programs {
  margin: 0 20px;
}

.main-content__choose-programm-button {
  width: 100%;
}

.main-content__instructions {
  margin: 0 20.5px;
}

.main-content__instructions-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.main-content__cat-example {
  margin: 0 20px;
}

.main-content__products {
  margin: 0 20px;
}

.main-content__additional-products {
  margin: 0 20px;
}
