.section-line {
  position: relative;
}

.section-line::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100%;
  background-color: @basic-green;
  z-index: 0;
}

.section-line--contacts::before {
  @media (max-width: @phone-width-only) {
    top: 16px;
  }
}

.section-line__title {
  max-width: 182px;
  margin: 0;
  margin-left: -20px;
  padding-right: 22px;
  padding-left: 20px;
  display: inline-block;
  background-color: @white;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-left: -41px;
    padding-right: 41px;
    padding-left: 41px;
    max-width: unset;
    font-size: 36px;
    line-height: 36px;
  }
}

.section-line__title--catalog {
  line-height: 24px;
  padding-left: 20px;
  padding-right: 22px;
  max-width: unset;

  @media (min-width: @tablet-width) {
    padding-left: 67px;
    padding-right: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    padding-right: 36px;
  }
}
