.social__list {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 8px;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 28px;
  }
}

.social__link {
  color: #666666;

  &:hover,
  &:active {
    color: @basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
