.toggle {
  display: flex;
  justify-content: center;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.toggle__toggle-button {
  align-self: center;
}

.toggle__off-label {
  margin-right: 19px;
}

.toggle__on-label {
  margin-left: 18px;
}
