@phone-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

@basic-green: #68B738;
@transparent-green: rgba(104, 183, 56, 0.85);
@mix-green: #63A53A;
@white: #ffffff;
@black: #000000;
@basic-grey: #f2f2f2;
