@phone-width: 320px;
@phone-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
@container-phone-width: @phone-width - 2*20px;
@container-tablet-width: @tablet-width - 2*30px;
@container-desktop-width: @desktop-width - 2*110px;


@basic-green: #68B738;
@transparent-green: rgba(104, 183, 56, 0.85);
@mix-green: #63A53A;
@white: #ffffff;
@black: #000000;
@basic-grey: #f2f2f2;
